.navigation-row{
    width:100vw;
    height:50px;
    /* background-color:red; */
    /* background: transparent; */
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    /* // position:"relative"
    // textAlign: "center"
    // justifyContent:"center" */
    /* box-shadow: 2px 2px 4px white; */
}

.navigation-col{
    height:50px
}

.navigation-title{
    left:0;
    font-size: 30px;
    font-weight: 800;
    color:white;
    text-shadow: 2px 2px 4px #000000;
}

.navigation-menu{
    height:50px;
    background-color:transparent;
    /* font-size:1px; */
    font-weight:600;
    color:whitesmoke;
}